{# navigation #}
{% macro nav_loop(page) %}
  {% import _self as macros %}
  {% for p in page.children.visible %}
    {% set current_class = p.active ? 'nav-link--current' : '' %}
    {# home #}
    {% if p.order == 1 %}
      <h1>{% if not p.active %}<a href="/">{% endif %}{{ p.menu }}{% if not p.active %}</a>{% endif %}</h1>
    {% endif %}
    {# pages #}
    {% if p.order > 1 %}
      <a class="nav-link {% if p.active %}nav-link--current{% endif %}" {% if not p.active %}href="{{ p.url }}"{% endif %}>{{ p.menu }}</a>
    {% endif %}
  {% endfor %}
{% endmacro %}